.app {
    max-width: 2000px;
    width: 100%;
    background: #131316;
}

.app__main {
    max-width: 1240px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}