.final__wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 16px 52px 0;
}

.final__price {
    display: flex;
    align-items: center;
    margin-right: 40px;
}