@keyframes astronautFly{
    0%{
      left:0px;
    }
    25%{
      top:50%;
      transform:rotate(30deg);
    }
    50%{
      transform:rotate(45deg);
      top:55%;
    }
    75%{
      top:60%;
      transform:rotate(30deg);
    }
    100%{
      left:93%;
      transform:rotate(45deg);
    }
}

.wrapper {
    background-image: linear-gradient(to top, #2e1753, #1f1746, #131537, #0d1028, #050819);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.text{
    position: absolute;
    top: 250px;
    color: #fff;
    text-align: center;
    z-index: 10;
}

.title {
    font-size: 60px;
    z-index: 10;
}

.button {
    padding: 15px;
    margin: 30px 0 0 0;
    border: none;
    border-radius: 64px;
    background-image: linear-gradient(to left, #5304d2, #2603d2, #020768, #1e0549, #066ba1);
    color: rgb(133, 133, 173);
    z-index: 10;
}

.button:hover {
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 20px rgb(133, 133, 173);
    border-radius: 64px;
    color: #fff;
    z-index: 10;
}

.link {
    text-decoration: none;
    color: rgba(76, 76, 255, 1);
    z-index: 10;
}

.link:hover {
    opacity: 0.7;
    z-index: 10;
}

.astronaut img{
    width: 100px;
    position: absolute;
    top: 55%;
    animation: astronautFly 6s infinite linear;
    z-index: 11;
}