.ingredients {
    max-width: 600px;
    width: 100%;
    position: relative;
}

.title {
    position: fixed;
    z-index: 20;
}

.scrollWrap {
    margin-top: 112px;
    overflow: hidden;
    position: fixed;
    max-width: 600px;
    width: 100%;
}

.scroll {
    overflow-y: auto;
    max-height: 100vh;
    width: 100%;
}

.scroll::-webkit-scrollbar {
    width: 8px;
}

.scroll::-webkit-scrollbar-track {
    background: var(--background-alt);
}

.scroll::-webkit-scrollbar-thumb {
    height: 492px;
    width: 8px;
    background: #8585AD;
    border: 3px solid #8585AD;
}

.scroll::-webkit-scrollbar-track-piece:end {
    background: #2F2F37;
    margin-bottom: 52px; 
}

.scroll::-webkit-scrollbar-track-piece:start {
    background: #2F2F37;
    margin-top: 40px;
}